:root {
    --color-escuro1: #0a0a0a;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #000000;
    color: white;
    font-family: sans-serif;
    text-align: center;
    font-size: 14px;
}

main {
    padding: 50px 0px;
}

.topo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 0 0 30px 30px;
    padding: 60px 30px 20px 30px;
}

h1 {
    font-size: 1.5rem;
    margin-bottom: 30px;
    line-height: 2rem;
}

p {
    font-size: 1rem;
    line-height: 1.75rem;
    color: #ccc;
}

.container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
    max-width: 1200px;
    margin: 0 auto;
    justify-items: center;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: #222;
    border-radius: 12px;
    padding: 20px;
    width: 100%;
    overflow: hidden;
}

.card img {
    width: 130px;
    height: 130px;
    border-radius: 20%;
    margin-bottom: 20px;
    align-self: center;
}

.card p {
    font-size: 14px;
    line-height: 1.30rem;
    margin-bottom: 40px;
}

.botao {
    display: inline-block;
    padding: 10px 10px;
    background: #28a745;
    color: white;
    text-decoration: none;
    border-radius: 8px;
    font-weight: bold;
    font-size: 14px;
    transition: background 0.3s;
    margin-top: auto;
    align-self: center;
}

.botao:hover {
    background: #218838;
}

span {
    color: #128f06;
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;
    background: var(--color-escuro1);
    border-radius: 30px 30px 0 0;
}

footer .info {
    max-width: 700px;
}

.qrcode {
    text-align: center;
    margin-top: 40px;
}

.qrcode h2 {
    font-size: 1.3rem;
    margin-bottom: 2rem;
    color: rgb(0, 188, 242);
}

.qrcode img {
    width: 180px;
    height: auto;
    margin-bottom: 15px;
}

.qrcode p {
    color: #ccc;
    max-width: 350px;
    text-align: center;
}