/*=========================================================
CELULAR PEQUENO
=========================================================*/

@media (max-width: 374px) {

    main {
        padding: 0px 20px !important;
    }

    .container {
        grid-template-columns: repeat(1, 1fr) !important;
        max-width: 100% !important;
        width: 100% !important;
        gap: 20px;
    }

    .copiar-link {
        padding: 10px 0px;
    }

    .copiar-link p {
        order: 1;
    }

    .carrossel .card {
        width: 100% !important;
    }
}

@media (max-width: 480px) {

    main {
        padding: 0px 20px;
    }

    .container {
        grid-template-columns: repeat(2, 1fr);
        max-width: 100%;
        width: 100%;
        gap: 20px;
    }

    .copiar-link p {
        order: 1;
    }

    .carrossel .card {
        width: calc((100% - 1.3rem) / 2);
    }
}

/*=========================================================
CELULAR MÉDIO / GRANDE (TIPO IPHONE PLUS, GALAXY S, ETC.)
=========================================================*/
@media (min-width: 481px) and (max-width: 767px) {

    main {
        padding: 0px 20px;
    }

    .container {
        grid-template-columns: repeat(3, 1fr);
        max-width: 100%;
        width: 100%;
        gap: 20px;
    }

    .carrossel .card {
        width: calc((100% - 2.5rem) / 3);
        max-width: 100%;
    }
}

/*=========================================================
TABLET VERTICAL (IPAD EM PÉ, POR EXEMPLO)
=========================================================*/
@media (min-width: 767.1px) and (max-width: 1023px) {

    main {
        padding: 0px 50px;
    }

    .container {
        grid-template-columns: repeat(3, 1fr);
        max-width: 100%;
        width: 100%;
        gap: 20px;
    }

    .carrossel .card {
        width: calc((100% - 2.5rem) / 3);
    }

    .campo-pesquisa {
        max-width: 500px;
    }

}

/*=========================================================
DESKTOP PADRÃO / TABLET DEITADO
=========================================================*/
@media (min-width: 1024px) and (max-width: 1279px) {

    main {
        padding: 0 50px;
    }

    .container {
        grid-template-columns: repeat(4, 1fr);
        max-width: 100%;
        width: 100%;
    }

    .carrossel .card {
        width: calc((100% - 3rem) / 4);
    }

    .campo-pesquisa {
        max-width: 500px;
    }
}

/*=========================================================
ATIVA SWIPE COM O DEDO EM DISPOSITIVOS MÓVEIS
=========================================================*/
@media (max-width: 1024px) {

    .carrossel {
        overflow-x: auto;
        scroll-snap-type: x mandatory;
        -webkit-overflow-scrolling: touch;
        scroll-behavior: smooth;
    }

    .carrossel::-webkit-scrollbar {
        display: none;
    }

    .card {
        flex: 0 0 100%;
        scroll-snap-align: center;
    }

    #anterior-destaques,
    #proximo-destaques,
    #anterior-novas,
    #proximo-novas,
    #anterior,
    #proximo {
        display: none;
    }

    .mensagem-nenhuma-nova {
        max-width: 220px;
    }
}